@import '../../styles/variables';

.landing-page {
  min-height: 100vh;
}

.lp-main-section {
  align-items: center;
  background-color: $colorBlack5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 75px 20px 100px;
  text-align: center;

  .lp-image-half {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;

    .lp-box-image {
      display: inline-block;
      height: 188px;
      width: 274px;

      @media (min-width: #{$maxMobileWidth}) {
        // desktop
        height: 375px;
        width: 548px;
      }
    }

    @media (min-width: #{$maxMobileWidth}) {
      // desktop
      margin-bottom: 0;
      width: 50%;
    }
  }

  @media (min-width: #{$maxMobileWidth}) {
    // desktop
    padding: 175px 20px;
  }
}

.lp-cta-half {
  display: inline-block;
  width: 100%;

  .lp-cta-text-title {
    font-size: $fontSizeJumbo;
  }

  .lp-cta-text {
    display: inline-block;
    font-size: $fontSizeLarge;
    margin-top: 30px;
    max-width: 475px;
  }

  .lp-cta-button {
    margin-top: 50px;

    @media (min-width: #{$maxMobileWidth}) {
      // desktop
      margin-top: 30px;
    }
  }

  @media (min-width: #{$maxMobileWidth}) {
    // desktop
    width: 50%
  }
}

.lp-section {
  padding: 100px 5px;

  &.lp-section-dark {
    background-color: $colorBlack5;
  }

  .lp-section-title {
    font-size: $fontSizeJumbo;
    text-align: center;
  }

  .lp-section-subtitle {
    font-size: $fontSizeLarge;
    margin-top: 30px;
    text-align: center;
  }

  .lp-section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 75px;

    .lp-section-col {
      margin-top: 75px;
      text-align: center;
      max-width: 314px;

      .lp-price-box {
        display: inline-block;
        margin-bottom: 30px;

        &.lp-price-box-basic {
          height: 157.92px;
          width: 230.16px;
        }

        &.lp-price-box-standard {
          height: 145.49px;
          width: 231.50px;
        }

        &.lp-price-box-premium {
          height: 157.92px;
          width: 230.16px;
        }
      }

      .lp-col-title {
        font-size: $fontSizeLarge;
        font-weight: $fontWeightRegular;
        margin-bottom: 15px;
      }

      .lp-col-pricing {
        font-size: $fontSizeLarge;
        font-weight: $fontWeightRegular;
      }

      .lp-col-body {
        font-size: $fontSizeMedium;

        .lp-swag-list {
          text-align: left;

          li {
            margin-top: 10px;

            &:first-of-type {
              margin-top: 50px;
            }

            &.lp-added {
              color: $colorGold;
            }
          }
        }
      }
    }
  }
}

.lp-how-button-container {
  margin-top: 100px;
  text-align: center;
}
