@import '../../../styles/variables';

.employees {    
  text-align: center;

  .employees-table {
    display: inline-block;
    margin: 30px 0;
    padding: 0 10px;
    width: 100%;
  }

  @media (min-width: $maxMobileWidth) {
    // desktop styles
    .employees-table {
      padding: 0 20px;
    }
  }
}