@import '../../../styles/variables';

.employees {
  text-align: center;

  .employees-container {
    min-height: 100vh;

    .employees-zero-state {
      display: flex;
      flex-direction: row;
      margin: 24px;
      box-shadow: $boxShadow;
      padding: 10px;
      width: fit-content;

      .employees-zs-text {
        padding: 12px 10px 0;
      }
      .contain-zero-state-actions {
        text-align: right;

        .create-button {
          align-items: center;
          cursor: pointer;
          display: inline-flex;

          svg {
            color: $colorPrimary;
            font-size: 40px;
            transition: color $transitionTime;
          }

          &:hover {
            svg {
              color: $colorPrimaryDark;
            }
          }
        }
      }
    }

    .contain-actions {
      margin: 30px 20px 0;
      text-align: right;

      .create-button {
        align-items: center;
        cursor: pointer;
        display: inline-flex;

        .create-employee-text {
          margin-right: 5px;
          transition: color $transitionTime;
        }

        svg {
          color: $colorPrimary;
          font-size: 40px;
          transition: color $transitionTime;
        }

        &:hover {
          .create-employee-text {
            color: $colorBlack;
          }

          svg {
            color: $colorPrimaryDark;
          }
        }
      }
    }
  }

  .employees-table {
    display: inline-block;
    margin: 20px 0 30px;
    padding: 0 1px;
    text-align: left;
    width: 100%;
  }

  .total-row {
    margin-bottom: 100px;
    text-align: right;
    padding: 0 20px;
  }

  @media (min-width: $maxMobileWidth) {
    // desktop styles
    .contain-actions {
      text-align: right;
    }

    .employees-table {
      padding: 0 20px;
    }
  }
}
