// Paths
$font-path: 'styles/fonts/';

// Colors
$color-black: #000;
$color-black-80: lighten($color-black, 20%);
$color-black-50: lighten($color-black, 50%);
$color-black-5: lighten($color-black, 95%);
$color-font: $color-black-80;
$color-primary: #50E3C2;
$color-primary-hover: darken($color-primary, 15%);
$color-red: red;
$color-white: #fff;

// Font Weights
$font-weight-black: 700 !important;
$font-weight-bold: 500 !important;
$font-weight-regular: 400 !important;
$font-weight-light: 300 !important;
$font-weight-thin: 100 !important;

// Font Sizes
$font-size-xsmall: 10px !important;
$font-size-small: 12px !important;
$font-size-base: 14px !important;
$font-size-medium: 18px !important;
$font-size-large: 22px !important;
$font-size-xlarge: 28px !important;
$font-size-jumbo: 32px !important;
