.reset-password-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .reset-password-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    width: fit-content;
    max-width: 450px;
  }

  .reset-password-error {
    margin: 5px 0;
  }
}