@import '../../styles/variables';

.supplyd-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 66px;
  box-shadow: 0 -2px 3px -1px #b3b3b3;
  background: $colorBlack80;

  .supplyd-footer-link {
    display: flex;
    align-items: center;

    a {
      color: $colorWhite;
    }
  }
}