.forgot-password-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .forgot-password-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    max-width: 450px;
  }
}